@model IEnumerable<Ovning_9.Models.Product>

<h1>Products</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Product</a>
</p>
<form asp-action="Search" method="get">
    <input name="category" type="text" class="form-control" placeholder="Search by category..." />
    <button type="submit" class="btn btn-primary mt-2">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Shelf</th>
            <th>Count</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price kr</td>
                <td>@item.Category</td>
                <td>@item.Shelf</td>
                <td>@item.Count</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
